#section {
    position: relative;
    top: auto;
}

#inputTitle {
    font-size: 12px;
}

#inputBox {
    clear: both;
}

.table {
    width: 60%;
}

.btn-light {
    width: 80px;
    background-color: aquamarine;
}